asgiref==3.8.1
Django==5.0.3
django-leaflet==0.29.1
django-nested-admin==4.0.2
django-treebeard==4.7.1
djangorestframework==3.15.1
pillow==10.2.0
python-monkey-business==1.0.0
setuptools==69.2.0
six==1.16.0
sqlparse==0.4.4
tzdata==2024.1
wheel==0.43.0
