<!-- core/templates/homepage.html -->
{% extends "base.html" %}

{% block title %}{{ homepage_content.page_title }}{% endblock %}

{% block content %}
<div class="hero-section" style="background-image: url('{{ homepage_content.hero_image.url }}');">
  <h1>{{ homepage_content.hero_title }}</h1>
  {% if homepage_content.hero_button_text and homepage_content.hero_button_link %}
    <a href="{{ homepage_content.hero_button_link }}" class="hero-button">
      {{ homepage_content.hero_button_text }}
    </a>
  {% endif %}
</div>

<h2>Blog</h2>
<ul>
    {% for post in posts %}
    <a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a>
  {% endfor %}
</ul>

<ul>
  <a href="{% url 'users : dashboard.html' %}">Dashboard</a>
  <!-- Other navigation links -->
</ul>

<h3> Enter here <h3/>

<ul>
  <a href="{% url 'event_management:entry_form' race_id=1 %}">Enter Race 1</a>

</ul>

{% endblock %}

