{% extends "base.html" %}

{% block content %}
<h1>Enter Race: {{ race.name }}</h1>

<form method="post" action="{% url 'event_management:submit_entry_form' race.id %}">
  {% csrf_token %}
  {{ form.as_p }}
  
  <!-- Mock Payment Button -->
  <button type="submit">Submit and Pay</button>
</form>

<!-- Display messages -->
{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}
{% endblock %}
